<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Galería de Productos</title>
  <link rel="stylesheet" href="../css/galeria.css">
<body>
  <!-- Menú de navegación -->
  <header>
  <div class="navbar">
    <div class="logo">SportFashion</div>
    <nav>
      <ul class="nav-links">
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="./productos.html">Productos</a></li>
        <li><a href="./presupuesto.html">Presupuesto</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>


  <main>
    <h1>Galería de Productos</h1>
    <div class="galeria-container">
      <button class="arrow left">&#10094;</button>
      <div class="galeria" id="galeria"></div>
      <button class="arrow right">&#10095;</button>
    </div>
  </main>

  <!-- Pie de página -->
  <footer>
    <p>&copy; 2025 SportFashion. Todos los derechos reservados.</p>
  </footer>

  <script src="../js/galeria.js"></script>
</body>
</html>
